/**
 * Powered by suda.
**/

html{
    width:100%;
    min-width:100%;
    height:100%;
    font-size:12px;
}
body{
    font-family:"微软雅黑" ,'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
    font-size:12px;
    position:relative;
    color:#292929;
    background:#fff;
}

.color-brown{color:#906622;}
.color-black{color:#000;}
.color-gray{color:#999;}
.color-white{color:#fff;}

a{
    color:#0088ff;
    text-decoration: none;
}
a:hover,a:focus{
    color:#005eb5;
    text-decoration: none;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
ul li{
    margin:0;
    padding:0;
}
label{
    max-width:inherit;
}

blockquote{
    font-size: initial;
    line-height: initial;
    border-left: 3px solid #eee;
    padding-left: 2rem;
    font-style: italic;
    color: #797979;
}
#app{
    height:100%;
    position:relative;
}


.navbar{
    font-size:1.2rem;
}

.navbar-brand img{
    display:initial;
}


.is-boxed{
    background:#fff;
}



/** page **/




.page-header{
    margin:1rem 0;
    border-bottom:none;
}

.page-heading h1{
    font-size:2.5rem;
}
.page-heading .meta-item{
    font-size:1rem;
    color:#999;
}
.page-heading .hero-img{
    max-width:100%;
    width:auto;
    height:auto;
    margin:0 auto;
    display:block;
}
.page-content{
    font-size:1.15rem;
}
.page-footer{
    padding:30px 0px 50px;
    border-top:1px solid #eee;
}

.container-page{
    min-height:500px;
}
.container-box{
    border: 1px solid #eee;
    box-shadow: 0px 0px 15px 0px rgba(200,200,200,0.2);
    border-radius: 4px;
}

.container-page .tags-list{
    list-style:none;
}
.container-page .tags-list li{
    float:left;
    display:inline-block;
    margin-right:10px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #0088ff;
    border-color: #0088ff;
    cursor: default;
}

/*==== 挂件区域 ====*/
.widgets-content .widget{
    margin-bottom:10px;
    font-size:1rem;
    padding-bottom:15px;
    border-bottom:1px solid #eee;
}
.widgets-content h3{
    margin:0;
    font-size:1.2rem;
    padding:1rem 0;
}
.widgets-content p{
    margin-bottom:0;
}
.widgets-content img{
    max-width:100%;
}
.widgets-content .widget-articles ul{
    display:block;
    width:100%;
}
.widgets-content .widget-articles li{
    padding:10px 0px;
    display:inline-block;
    width:100%;
}
.widgets-content .widget-articles li img.hero-image{
    width:60px;
    float:left;
    margin-right:5px;
}
.widgets-content .widget-articles li span.datetime{
    font-size:0.75rem;
    color:#999;
}

.widgets-content .widget-pages ul{
    display:block;
    width:100%;
}
.widgets-content .widget-pages li{
    padding:10px 0px;
    display:inline-block;
    width:100%;
}
.widgets-content .widget-pages li img.hero-image{
    width:60px;
    float:left;
    margin-right:5px;
}
.widgets-content .widget-categories li>ul{
    margin-left:15px;
}
.widgets-content .widget-categories ul li{
    margin:0;
}
.widgets-content .widget-categories ul li a{
    font-weight:normal;
    color:#333333;
    display:block;
    padding:3px 5px;
}
.widgets-content .widget-categories ul li a:hover,.widgets-content .widget-categories ul li a:focus{
    background:#eee;
}

.widgets-content .widget-menus li>ul{
    margin-left:15px;
}
.widgets-content .widget-menus ul li{
    margin:0;
}
.widgets-content .widget-menus ul li a{
    font-weight:bold;
    color:#333333;
    display:block;
    padding:8px 5px;
}
.widgets-content .widget-menus ul li a:hover,.widgets-content .widget-menus ul li a:focus{
    background:#eee;
}

@media (max-width: 768px) {

    .page-header {
        padding-bottom: 10px;
        margin: 22px 0 22px;
    }
    
}

@media (min-width: 641px){
    .category-nav .navbar-toggler{display:none;}
    .category-nav .navbar-collapse{
        display: flex !important;
        flex-basis: auto;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    color:#292929;
}

.site-header::before{
    display:none;
}
.features::before{display:none;}

.site-footer{position:relative;font-size:1.2rem;line-height:1.8;letter-spacing:0px;}

.site-footer a{color:#b0daff; text-decoration:none}
.site-footer a:hover,.site-footer a:active{color:#000;text-decoration:underline}
.site-footer-inner{position:relative;display:flex;flex-wrap:wrap;padding-top:40px;padding-bottom:40px}
.footer-brand,.footer-links,.footer-social-links,.footer-copyright{flex:none;width:100%;display:inline-flex;justify-content:center}
.footer-brand,.footer-links,.footer-social-links{margin-bottom:24px}
.footer-links li+li,.footer-social-links li+li{margin-left:16px}
.footer-social-links li{display:inline-flex}
.footer-social-links li a{padding:8px}
@media (min-width: 641px){
    .site-footer::before{height:202px}
    .site-footer-inner{justify-content:space-between}
    .footer-brand,.footer-links,.footer-social-links,.footer-copyright{flex:50%}
    .footer-brand,.footer-copyright{justify-content:flex-start}
    .footer-links,.footer-social-links{justify-content:flex-end}
    .footer-links{order:1;margin-bottom:0}
}