
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
// @import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap"; //4.4

//ionicons
@import "../vendors/ionicons/ionicons";

// FontAwesome
// @import "@fortawesome/fontawesome-free/css/all";

@import "~select2/dist/css/select2";
@import "@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4";//b5 support

@import "../vendors/jqueryfileupload/css/jquery.fileupload.css";

@import "../vendors/pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker";//

@import "../vendors/formstone/css/formstone";

@import '@simonwep/pickr/dist/themes/classic.min';
@import '@simonwep/pickr/dist/themes/monolith.min';
@import '@simonwep/pickr/dist/themes/nano.min';

@import "../css/admin";