/**
 * colorbar theme by suda.
 * Powered by suda.
**/



.press-sidebar,
.press-sidebar.in{
    z-index:1035;
    background:#00427b;
    background-image:linear-gradient(45deg, #053765, #0861af);
}
.press-sidebar a, .press-sidebar.in a{
    color: #fff;
}
.press-sidebar .sidebar-menu-item{
    background:#004a8c;
    box-shadow: 1px 0px 10px 0px rgba(50,50,50,0.3);
}
.press-sidebar-pro .sidebar-menu-item
{
    background:#fff;
    box-shadow: 1px 0px 2px 0px rgba(50,50,50,0.05);
}

.press-sidebar-icon .sidebar-menu ul.menu li a{
    color:#fff;
}

.press-sidebar-pro .sidebar_bottom{
    background:#003461;
}

.press-sidebar-pro .sidebar-menu ul.menu li a
{
    color:#222;
}
.press-sidebar-pro .sidebar-menu ul.menu li.active a{
    background: #cae7ff;
}

@media (min-width: 768px) {
    
    
    .press-sidebar .panel > .panel-heading.show:not(.collapsed){
        background: #02345f;
    }
    .press-sidebar.in .sidebar-menu-item.show{
        background: #03355f;
    }
    .press-sidebar-icon.in .panel > .panel-heading.in, .press-sidebar-icon .panel > .panel-heading.in{
        background:#004a8c;
    }
    
    .press-sidebar-icon .panel-default:hover > .panel-heading.in.collapsed, .press-sidebar-icon .panel-default > .panel-heading.in{
        background:#004a8c;
    }

    
    .sidebar-menu ul.menu li.active a{
        background:#032746;
    }
    
}

@media (max-width: 767px) {

    
    
    
}