
    body{
        background:#ffffff;
        background-size:contain;
    }
    .navbar-nologin{display:none;}
    .container-login{
        position:relative;
        width:100%;
        height:100vh;
        
    }
    .container-login .row{
        margin:0;
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        background:rgba(0,0,0,0);
    }
    .container-login .login-bg{
        background:#3080FF url('../images/login/2.jpg') no-repeat center bottom;
        background-size:cover;
        height:100vh;
        padding:0;
        box-shadow:none;
    }
    .container-login .login-box{
        margin-top:120px;
        padding:0 30px;
    }
    .container-login .login-box .panel{
        /* box-shadow: 0 1px 25px 1px rgba(0,0,0,.08); */
        box-shadow:none;
        background:transparent;
        border:none;
    }
    .panel-default>.panel-heading{
        background:transparent;
        border-bottom:1px solid #f5f5f5;
    }
    .container-login .login-box .panel-body{
        padding:20px 15px;
        background:transparent;
    }
    .form-control{
        /* border: 1px solid #70d0ff; */
    }
    .suda-login-form .form-group .input-group-addon{
        color:#777;
        /* border-color:#70d0ff; */
    }
    #core-powered{
        position:absolute;
        bottom:0;
        width:100%;
        text-align:right !important;
        padding:0 20px;
    }
    #core-powered a{color:#999;}


    @media (max-width: 767px) {

        .container-login .login-bg{display:none;}

    }
