name: Laravel Suda

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.1'
    - name: install laravel
      run: composer create-project laravel/laravel blog
    - name: cd blog
      run: cd /home/runner/work/suda/suda/blog
    - name: Generate key
      run: ls -la
