name: Laravel Suda

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.1'
    - name: install laravel
      run: composer create-project laravel/laravel blog
    - name: cd blog
      run: cd /home/runner/work/suda/suda/blog
    - name: Generate key
      run: php artisan key:generate
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite
    - name: mkdir
      run: |
        mkdir suda
        cd suda
    - uses: actions/checkout@v3
    - name: go dir
      run: cd /home/runner/work/suda/suda/blog
    - name: Install Dependencies
      run: composer update
    - name: Install Suda
      run: php artisan suda:install
    - name: Execute tests (Unit and Feature tests) via PHPUnit
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: vendor/bin/phpunit
